.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;

  margin-bottom: 25px;
}

.card {
  border: 1px solid lightblue;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-footer {
    display: flex;
    justify-content: space-between;
  }

}