/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: #007bff;

}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}


button {
  max-height: 30px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

form {
  width: 100%;
  max-width: 320px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;


  & label {
    font-size: 20px;
    color: #007bff;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

  }

  & input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
  }
}

.is-invalid {
  color: red;
}

.loader-wrapper {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(closest-side at calc(100%/6) 50%, #000 90%, #0000) 0/75% 100%;
  position: relative;
  animation: l15-0 1s infinite linear;
}

.loader::before {
  content: "";
  position: absolute;
  background: inherit;
  clip-path: inset(0 0 0 50%);
  inset: 0;
  animation: l15-1 0.5s infinite linear;
}

@keyframes l15-0 {

  0%,
  49.99% {
    transform: scale(1)
  }

  50%,
  100% {
    transform: scale(-1)
  }
}

@keyframes l15-1 {
  0% {
    transform: translateX(-37.5%) rotate(0turn)
  }

  80%,
  100% {
    transform: translateX(-37.5%) rotate(1turn)
  }
}

/* You can add global styles to this file, and also import other style files */